body{
    background-color: blue;
    border: solid 3px red;
    margin: 10px;
}

.box{
    background-color: yellow;
    border: 6px solid white;
    height: 600px;
    width: auto;
    display: grid;
    grid-template-areas: "menuL titulo titulo"
                         "menuL conteudo conteudo" 
                         "menuL rodape rodape";
    grid-template-rows: 80px 1fr 90px;
    grid-template-columns: 200px 1fr 200px;
}

.titulo {
    background-color: red; 
    grid-area: titulo; 
}

.menuL{
    background-color: brown;   
    grid-area: menuL;
}

.conteudo{
    background-color: green;
    grid-area: conteudo;
}

.menuR{
    background-color: pink; 
    grid-area: menuR;
}

.rodape{
    background-color: orange;
    grid-area: rodape;
}