*{
    margin: 0px;
}

.box{
    height: 600px;
    display: grid;
    grid-template-areas: "titulo titulo titulo"
                         "menuL conteudo menuR" 
                         "rodape rodape rodape";
    grid-template-rows: 100px 1fr 90px;
    grid-template-columns: 200px 1fr 200px;
}

.titulo {
    background-color: red; 
    grid-area: titulo; 
    color: black;
}

.menuL{
    background-color: brown;   
    grid-area: menuL;
}

.conteudo{
    background-color: green;
    grid-area: conteudo;
}

.menuR{
    background-color: pink; 
    grid-area: menuR;
}

.rodape{
    background-color: orange;
    grid-area: rodape;
}

.img1{
    width: 90px;
    margin-left: 40px;
    margin-top: -100px;
    margin-bottom: 10px;
   
}

.img2{
    width: 90px;
    margin-left: 990px;
    margin-top: -100px;
    margin-bottom: 10px;
   
}

h1{
    text-align: center;
    margin-top: 10px;
    font-size: 70px;
}
