body{
    background-color: rgb(106, 106, 234);
}

.box{
    text-align: center;
    font-size: 60px;
    display: grid;
    justify-content: space-evenly;
    height: 550px;
    grid-template-columns: 200px 200px 200px;
    gap: 10px;
    padding: 10px;

}

.j{
    background-color: lightblue;
    padding: 90px;
}